// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://nrfconnect.github.io/vscode-nrf-connect/devicetree/nrfdevicetree.html
// &i2c1 {
//     compatible = "nordic,nrf-twim";
//     status = "ok";
//    // sda-pin = <12>;
//   //  scl-pin = <11>;
    
//     bme280@77 {
//         compatible = "bosch,bme280";
//         reg = <0x76>;
//         label = "BME280";
//     };
// };
/ {

    zephyr,user {
     //  compatible = "nordic,nrf5340-dk-nrf5340-cpuapp";
       io-channels = <&adc 0>;
    };
 };
 
&spi2 {
	status = "okay";
	cs-gpios = <&gpio0 21 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&spi2_default>;
	pinctrl-1 = <&spi2_sleep>;
	pinctrl-names = "default", "sleep";
	bme280@0 {
		compatible = "bosch,bme280";
		reg = <0>;
		spi-max-frequency = <1000000>; /* conservatively set to 1MHz */
	};
};
&pinctrl {
	spi2_default: spi2_default {
			group1 {
					psels = <NRF_PSEL(SPIM_SCK, 1, 6)>,
							<NRF_PSEL(SPIM_MOSI, 1, 4)>,
							<NRF_PSEL(SPIM_MISO, 0, 19)>;
			};
	};
	spi2_sleep: spi2_sleep {
			group1 {
					psels = <NRF_PSEL(SPIM_SCK, 1, 6)>,
							<NRF_PSEL(SPIM_MOSI, 1, 4)>,
							<NRF_PSEL(SPIM_MISO, 0, 19)>;
					low-power-enable;
			};
	};
};

&gpio0 {
	status = "okay";
};


//Use the pins assigned to UART1 as we will use the ones assigned to UART0 for SPI
&uart0 {
	status = "disabled";
	current-speed = <115200>;
	pinctrl-0 = <&uart1_default>;
	pinctrl-1 = <&uart1_sleep>;
	pinctrl-names = "default", "sleep";
};

&uart1 {
	status = "disabled";
	current-speed = <115200>;
	pinctrl-0 = <&uart1_default>;
	pinctrl-1 = <&uart1_sleep>;
	pinctrl-names = "default", "sleep";
};

